
#porta para api 
PORT_API=8001
 
HOST='192.168.100.106'
PORT_DB=3306
USER='root'
PASSWORD='Nileduz'
DB_ESTOQUE    ='hipertruck_teste_estoque'
DB_VENDAS     ='hipertruck_teste_vendas'
DB_PUBLICO    ='hipertruck_teste_publico'
DB_FINANCEIRO ='hipertruck_teste_financeiro'


CRON_JOB= '*/50 7-19 * * 1-6'

APIKEY_IMGBB='6d0f7c502be16b3ed83414e3e0c775f8'